<ion-content>
    <header>
        <div class="header-left-part">
            <ion-icon [routerLink]="'/home'" name="arrow-back"></ion-icon>
            <span *ngIf="task?.id">Task #{{task.id}}</span>
            <span *ngIf="task?.id === undefined">Create task</span>
        </div>
        <div class="header-right-part">
            <ion-icon (click)="task.id ? onEditTask() : onCreateTask()" class="right-icon" name="checkmark"></ion-icon>
        </div>
    </header>
    <div class="content">
        <div *ngIf="task" class="task">
            <div class="task-body">
                <div class="task-left-part">
                    <div class="top-part">
                        <p class='p'>Title</p>
                        <div class="task-header">
                            <input autosize type="text" class="field" [(ngModel)]="task.title">
                        </div>
                        <p class='p'>Description</p>
                        <textarea autosize class="task-details-description field" [(ngModel)]="task.description"></textarea>
                    </div>
                    <div class="bottom-block">
                        <div class="task-top">
                            <div *ngIf="!isPrioritySelectorShown && task.priority" class="block">
                                <span>Priority: </span>
                                <span class="priority-badge" (click)="onSelectPriority()" [ngStyle]="{'background-color': getPriorityColor(task.priority.id)}">{{task.priority.title}}</span>
                            </div>
                            <div *ngIf="isPrioritySelectorShown || !task.priority" class="block">
                                <app-priority-select (prioritySelected)="onPrioritySelected($event)"></app-priority-select>
                            </div>
                            <div class="block fa">
                                <span>Target date: </span>
                                <!-- <span class="task-date">{{task.targetDate | unixDate}}</span> -->
                                <ng-datepicker [options]="dateOptions" position="top-left" [(ngModel)]="date"></ng-datepicker>
                            </div>
                        </div>
                        <div *ngIf="task?.id" tappable (click)="onRemoveTask()" class="task-bottom">
                            <ion-icon name="trash"></ion-icon>
                            <span>Remove task</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>