<ion-content>
    <header >
        <ion-icon [routerLink]="'/home'" name="arrow-back"></ion-icon>
        <span *ngIf="task">Task #{{task.id}}</span>
    </header>
    <div class="content">
        <div *ngIf="task" class="task">
            <div class="task-body">
                <div class="task-left-part">
                    <div class="top-part">
                        <p class='p'>Title</p>
                        <div class="task-header">
                            <input autosize type="text" class="field" [value]="task.title">
                        </div>
                        <p class='p'>Description</p>
                        <textarea autosize class="task-details-description field" [value]="task.description"></textarea>
                    </div>
                    <div class="bottom-block">
                        <div class="task-top">
                            <div class="block">
                                <span>Priority: </span>
                                <span class="priority-badge" [ngStyle]="{'background-color': getPriorityColor(task.priority.id)}">{{task.priority.title}}</span>
                            </div>
                            <div class="block">
                                <span>Target date: </span>
                                <span class="task-date">{{task.targetDate | unixDate}}</span>
                            </div>
                        </div>
                        <div class="task-bottom">
                            <ion-icon name="trash"></ion-icon>
                            <span>Remove task</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>