// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@mixin box() {
    box-shadow: 1px 1px 13px 0px lightgrey;
    border-radius: 5px;
}

.fa { //flex and align
    display: flex;
    align-items: center;
}

body * {
    transition: 0.2s;
}
// colors
$darkGrey: #404040;
$grey: #4e4e4e;
$softGrey: #959595;
$activeColor: #dcf0ff;
$almostWhite: #f8f8f8;
$red: #d88181;

// sizes
$headerHeight: 58px;
$bigText: 24px;

// STYLES
ion-router-outlet {}

ion-header {
    position: fixed;
}

.content {
    margin-top: $headerHeight;
    min-height: calc(100% - #{$headerHeight})!important;
    padding: 10px 20px;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 600;
    color: $darkGrey;
    box-shadow: 1px 1px 11px $softGrey;
    ion-icon:first-child {
        margin-right: 10px;
    }
    .header-left-part, .header-right-part {
        display: flex;
        align-items: center;
    }
}
