// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-router-outlet {
    margin-top: 58px;
}

.content {
    padding: 10px 20px;
}

@mixin box() {
    box-shadow: 1px 1px 13px 0px lightgrey;
    border-radius: 5px;
}

// colors
$grey: #4e4e4e;
$softGrey: #959595;
$activeColor: #dcf0ff;


$bigText: 24px;